<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Posts</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
      <tr>
        <td><%= link_to(group.title, group_path(group))%></td>
        <td><%= group.description %></td>
        <td><%= group.posts.count %></td>
        <td>
            <%= link_to("Edit", edit_account_group_path(group), class: "btn btn-xs btn-default pull-right")%>
            <%= link_to("Delete", account_group_path(group), class: "btn btn-xs btn-default pull-right", method: :delete, data: {confirm: "Are you sure? "})%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
